@import "tailwindcss";

@theme {
  --font-inter: "Inter", sans-serif;
  --font-newsreader: "Newsreader", serif;

  --text-black: #000000;
  --color-white: #ffffff;
  --color-green: #426b1f;
  --color-icon: #6d6d6d;
  --color-divider: #e6e6e6;
  --font-weight-extra-light: 200;
  --color-back: #fafaf5;
  --color-C: #c2c2c2;
}
